.container {
	height: 100%;
	display: grid;
	place-content: center;
	text-align: center;
}

.back-home-link {
	margin: var(--spacing-lg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-md);
}
