@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 240 70% 99%;
		--foreground: 293 73% 8%;

		--muted: 240 11% 94%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--popover: 240 70% 99%;
		--popover-foreground: 293 73% 8%;

		--card: 271 75% 97%;
		--card-foreground: 293 73% 8%;

		--border: 292 12% 70%;
		--input: 292 12% 70%;

		--primary: 47 80% 44%;
		--primary-foreground: 293 73% 8%;

		--secondary: 293 28% 11%;
		--secondary-foreground: 293 73% 8%;

		--accent: 156 34% 78%;
		--accent-foreground: 293 73% 8%;

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 229 33% 4%;
		--foreground: 240 22% 99%;

		--muted: 296 13% 20%;
		--muted-foreground: 240 22% 70%;

		--popover: 293 28% 11%;
		--popover-foreground: 240 22% 99%;

		--card: 226 12% 9%;
		--card-foreground: 240 22% 99%;

		--border: 240 22% 30%;
		--input: 240 22% 30%;

		--primary: 47 80% 44%;
		--primary-foreground: 229 33% 4%;

		--secondary: 293 28% 11%;
		--secondary-foreground: 240 22% 99%;

		--accent: 226 8% 27%;
		--accent-foreground: 240 22% 99%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	html,
	body {
		@apply bg-background text-foreground;
		font-feature-settings: 'rlig' 1, 'calt' 1;
	}
}
