.portfolio-navigation {
	padding: var(--spacing-xl);
	display: flex;
	flex-direction: column;
	color: var(--color-text-on-page-background);
}

.portfolio-navigation-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	padding-inline-start: 0;
	flex: 1;

	h3 {
		text-align: center;
	}
}

.portfolio-navigation-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-md);
	padding: var(--spacing-md);
	background-color: var(--color-button-nav-bg);
	border-radius: var(--corner-lg);
	text-decoration: none;
	color: var(--color-button-nav-text);

	&:hover,
	&:focus {
		text-decoration: underline;
		color: var(--color-button-nav-text-hover);
		background-color: var(--color-button-nav-bg-hover);
	}
}

.portfolio-navigation-link-active {
	background-color: var(--color-button-nav-bg-active);
	color: var(--color-button-nav-text-active);
}

footer {
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: var(--spacing-lg);
		font-size: 0.85rem;

		list-style: none;
		padding-inline-start: 0;

		a {
			color: var(--color-text-primary);
		}
	}
}
