@import '../../styles/app/breakpoints';

.wave-background {
	position: absolute;
	bottom: 0;

	@media (max-width: $phoneMax) {
		display: none;
	}

	& path {
		fill: var(--color-wave-background);
	}
}
