@import '../../../styles/app/breakpoints';
.project-showcase {
	padding: var(--spacing-lg);
	overflow-y: hidden;
}

.project {
	overflow-y: scroll;
	background-color: var(--color-background);
	border-radius: var(--corner-md);
	padding: var(--spacing-lg);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);
	align-items: center;
	max-height: 100%;

	h2 {
		text-align: center;
		font-size: var(--font-5);

		@media (max-width: $phoneMax) {
			font-size: var(--font-3);
		}
	}

	p {
		font-size: var(--font-3);
		@media (max-width: $phoneMax) {
			font-size: var(--font-2);
		}
	}

	.showcase-cta {
		text-align: center;
		font-weight: 600;
		font-size: var(--font-4);
		width: fit-content;
	}
}

.project-description-container {
	overflow-y: scroll;
}

.project-technologies-container {
	display: flex;
	overflow-x: scroll;
	max-width: 100%;
	gap: var(--spacing-sm);
	list-style: none;
	padding-inline-start: 0;

	p {
		cursor: default;
		text-align: center;
		padding: var(--spacing-md);
		background-color: var(--color-background-secondary);
		border-radius: var(--corner-lg);

		@media (max-width: $phoneMax) {
			font-size: var(--font-2);
			flex-grow: 1;
			white-space: nowrap;
		}
	}
}
