.project-showcase {
	padding: var(--spacing-lg);
}

.project {
	background-color: var(--color-background);
	height: 100%;
	width: 100%;
	border-radius: var(--corner-md);
	padding: var(--spacing-lg);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-lg);

	h2 {
		text-align: center;
		font-size: var(--font-5);
	}

	p {
		font-size: var(--font-3);
	}

	.showcase-cta {
		text-align: center;
		font-weight: 600;
		font-size: var(--font-4);
	}
}

.project-technologies-container {
	display: flex;
	gap: var(--spacing-lg);
	justify-content: center;

	span {
		padding: var(--spacing-md);
		background-color: var(--color-background-secondary);
		border-radius: var(--corner-lg);
	}
}
