:root {
	--color-background: #342a21;
	--color-background-secondary: #574638;
	--color-text-primary: #ffffff;
	--color-text-secondary: #ffffff;

	--color-link-inline: #a7f1e0;
	--color-link-inline-hover: #cbf7ed;

	--color-button-nav-bg: #71816d;
	--color-button-nav-bg-hover: #39627f;
	--color-button-nav-bg-active: #39627f;
	--color-button-nav-text: #ffffff;
	--color-button-nav-text-hover: #ffffff;
	--color-button-nav-text-active: #ffffff;

	--shadow-color: 27deg 36% 6%;
}
