@import '../../../styles/app/breakpoints';

.mobile-nav {
	// Disable on anything other than mobile
	display: none;

	@media (max-width: $phoneMax) {
		display: block;
		height: fit-content;
		padding: 0 var(--spacing-lg) 0 var(--spacing-lg);
	}
}

.mobile-navigation-list {
	list-style: none;
	display: flex;
	gap: var(--spacing-md);
	padding-inline-start: 0;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.mobile-navigation-list-item {
	scroll-snap-align: start;
	background-color: var(--color-button-nav-bg);
	border-radius: var(--corner-lg);
	text-decoration: none;
	text-align: center;
	gap: var(--spacing-md);
	padding: var(--spacing-md);
	color: var(--color-button-nav-text);
	flex-grow: 1;
	white-space: nowrap;
}
